<!DOCTYPE html>
<!-- Camera is a Pixedelic free jQuery slideshow | Manuel Masia (designer and developer) --> 
<html> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" > 
    <title>Camera | a free jQuery slideshow by Pixedelic</title> 
    <meta name="description" content="Camera a free jQuery slideshow with many effects, transitions, adaptive layout, easy to customize, using canvas and mobile ready"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////
    //
    //		Styles
    //
    ///////////////////////////////////////////////////////////////////////////////////////////////////--> 
    <link rel='stylesheet' id='camera-css'  href='static/css/camera.css' type='text/css' media='all'> 
    <style>
		body {
			margin: 0;
			padding: 0;
		}
		a {
			color: #09f;
		}
		a:hover {
			text-decoration: none;
		}
		#back_to_camera {
			clear: both;
			display: block;
			height: 80px;
			line-height: 40px;
			padding: 20px;
		}
		.fluid_container {
			margin: 10px auto;
			max-width: 1000px;
			width: 90%;
		}

	</style>

    <!--///////////////////////////////////////////////////////////////////////////////////////////////////
    //
    //		Scripts
    //
    ///////////////////////////////////////////////////////////////////////////////////////////////////--> 
    
    <script type='text/javascript' src='static/js/jquery.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='static/js/camera.js'></script> 
    
    <script>
		jQuery(function(){
			jQuery('#camera_wrap_1').each(function(){
                var t = jQuery(this);
                t.camera({
                    height: '80%',
                    loader: 'none',
                    pagination: false,
                    fx:'scrollRight',
                    slideOn:'next',
                    thumbnail:false,
                    imagePath : '../static/img/',

                    onEndTransition: function(){
                     console.log(t.find('.cameraContents .cameraContent.cameracurrent + div').index());
                     if (t.find('.cameraContents .cameraContent.cameracurrent + div').index() == -1){
                        console.log("CALL HERE");
                        t.cameraStop();
                        jQuery.ajax({
                              url: "/endexpt",

                            }).done(function() {
                                console.log("Expt Ended!!")
                            })

                     }
                }
			});

			
		});
        });

        // jQuery('#last-slide').cameraStop(); //stop the slideshow

	</script>
 
</head>
<body>

	<div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-src="static/img/pic6.jpg" data-transPeriod="1000">
            </div>

            <div data-time="6000" data-transPeriod="2000" data-thumb="static/img/blank.gif" data-src="static/img/blank.gif" >
               <iframe src="static/img/applefalling.mp4" width="1000" height="800" frameborder="0" ></iframe>
            </div>



           <!--  <div  data-src="static/img/pic1.jpg">
                
            </div>

    

            <div  data-src="static/img/pic2.jpg" data-portrait="false">
                
            </div>


            <div data-time="8000" data-transPeriod="2000" data-thumb="static/img/blank.gif" data-src="static/img/blank.gif" >
               <iframe src="static/vid/1starwars3D.mp4" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>

            <div  data-src="static/img/pic3.jpg">
                
            </div>
            <div data-src="static/img/pic4.jpg">
                
            </div> -->
            <div id="last-slide" data-src="static/img/pic5.jpg">
                
            </div>
        </div><!-- #camera_wrap_1 -->

    	
    </div><!-- .fluid_container -->
    
    <div style="clear:both; display:block; height:100px"></div>
</body> 
</html>