<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>Web Architecture</title>
    <!-- Bootstrap -->
    <link href="/static/css/main.css" rel="stylesheet">
     <link href="/static/css/bootstrap.css" rel="stylesheet">
     <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>

<body>
    <div id = "container">
         <div id="header">
                <h1>Prabha's First Server Application</h1>
         </div><!-- close header -->
         <div class = 'myform'>
          <br>
             <form name='createform' class="form-horizontal" onSubmit="return validateOnCreate()" action="/create" method="POST">
                <h4>Create a Short URL</h4>
                <div class="control-group">
                      <label for="short"><strong class="control-label">Short Path </strong></label>
                      <input type="text"  name="short" id="short" value="">
                </div>
                <div class="control-group">
                      <label for="long"><strong class="control-label">Long Path (URL) </strong></label>
                      <input type="text" name="long" id="long" value ="">
                </div >
                <div class="controls">
                      <!-- <input  name="error" type="hidden" id="error" value="werw"> -->
                      <!-- <input type="submit" value="Create Short URL" /> -->
                      <button type="submit" name="createbutton"  class="btn">Create Short URL</button>
                </div>
                <br>
              </form>
          </div>
          <div  class = 'myform'>
            <br>
               <form name='deleteform' class="form-horizontal"  onSubmit="return validateOnDelete()"  action="/delete" method="POST">
                 <h4>Delete a Short URL</h4>
                <div class="control-group">
                      <label for="short"><strong class="control-label">Short Path </strong></label>
                      <input type="text"  name="short" id="short" value="">
                </div>
            
                <div class="controls">
                      <button type="submit" name="deletebutton" class="btn">Delete Short URL</button>
                </div>
                  <br>
              </form>
        </div>
        <div id ="footer">
          This page allows you to create a shortpath for a URL and also delete an existing shortpath.
          If you are lazy, the page automatically creates a shortpath for a given URL.

        </div>
    </div>
 
</body>
</html>