<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    Prabha's First Server Application
  </title>
  <!-- Bootstrap -->
  <link href="static/css/main.css" rel="stylesheet">
  <link href="static/css/bootstrap.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</head>

<body>
 <div id = "container">
   <div id="header">
    <h1>{{header}}</h1>
  </div><!-- close header -->

  <div id = 'content'>

<img class='myimg' src={{imglink}} alt="">
<br>
<div id=mesg> {{message}} </div> 
<br>
<br>
<a href="../server">Back to Home Page</a>

</div>
</div>

</body>
</html>