

#header {
    background-color: #666;
    color: #FFF;
    height: 40px;
    text-align: center;
}
  #container {
    background-color:#e7ebf2;
    width: 620px;
    height: 550px;
    margin-left: auto; 
    margin-right: auto;
    -moz-box-shadow: 5px 15px 15px 5px #222;
   -webkit-box-shadow: 5px 15px 15px 5px #222;
    box-shadow: 5px 15px 15px 5px #222; 
    position:relative;
    animation:myfirst 3s;
-moz-animation:myfirst 3s; /* Firefox */
-webkit-animation:myfirst 3s; /* Safari and Chrome */
  }


#content{
  margin: 40px;

}
.myform{
	padding: 5px;
    /*margin-top: 40px;*/
  

}

.myimg{
 width: 250px;
 height: 250px; 
   position: relative;
}


.mesg{
 font-size: 20px;
 font-weight: bold;
}

.errormesg {
  font-size: 12px;
  color: red;

}

.star{
  color: red;
}

#footer{
  font-size: 10px;
  font-style:italic;
}

/* keyframes are not CSS3 validated */
@keyframes myfirst {
from {background:#000;}
to {background:#e7ebf2;}
}

@-moz-keyframes myfirst /* Firefox */ {
from {background:#000;}
to {background:#e7ebf2;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */ {
from {background:#000;}
to {background:#e7ebf2;}
}

