<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard | NeuroClick! </title>
    <meta name="description" content="">
    <meta name="author" content="neuroclick">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script src="static/js/dash.js"></script>
    <script src = "static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.4.custom.min.css">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dash.css">

    <link rel="stylesheet" href="/static/css/navbar.css">



</head>
<body>

<div id="container">
        <div id="heading">
	<ul class="nav pull-left" id="logo">
	    <li><a href="/" class="brand" >Wiki</a></li>
	</ul>
	 <ul class="nav pull-right" id="tabs">
	<li><a href="/wikirecruitment">Wiki Recruitment Home</a></li>
	<li><a href="/surveytobesent">Surveys to be sent</a></li>
	<li><a href="/surveyusers">All Survey Users Details</a></li>


	</ul>
     </div>

      <ul class="nav nav-tabs">
        <li class="active"><a href="index">Home</a></li>
        <li ><a href="users">Users</a></li>
        <li ><a href="stimuli">Stimuli</a></li>
    </ul>
    <div id="content">
    <!--     <div  id="leftsidebar">

                <div  class="slider">
                    <div class="btn-group open">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">Product Category <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Attention/Meditation</a></li>
                            <li><a href="#">Low Alpha/High Alpha</a></li>
                            <li><a href="#">Low beta/ High Beta</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Delta/Theta</a></li>
                            <li><a href="#">Low gamma/Mid Gamma</a></li>

                        </ul>
                    </div>
                </div>

                <button id="search-btn" class = "btn btn-info">Show Analysis</button>
            </div> -->
        <div id="rightsidebar">
                <div class="btn-group" style="float: right" >
                    <button id="count" class="btn active">Count</button>
                    <button id="pct" class="btn">Percentage</button>
                </div>
            </div>
               <div id="chart_container" style="height: 78%; width:100%; margin-top: 2%; ">



          <div id="container1" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
          <div id="container2" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
          <div id="container3" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
          <div id="container4" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
          <div id="container5" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
          <div id="container6" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>

            <!-- Example row of columns -->
        </div>
        </div>

     <div id="footer">
            <hr>
            <p>&copy; Prabha Matta, Vaidy</p>
        </div>



    <div id= "content" style="height: 100%">



     <div id="chart_container" style="height: 78%; width:100%; margin-top: 2%; ">



      <div id="container1" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
      <div id="container2" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
      <div id="container3" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
      <div id="container4" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
      <div id="container5" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
      <div id="container6" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>


    </div>

           <div id="widgets" class="widget stat_horiz" style="height: 20%; width: 100%">

    <div id="widget_part_1" class="widget stat_horiz_1" style="height: 20%; width:20%; float:left; margin-left: 5%">
        <ul>
            <li>
                <p >Users</p>
                <div id="users"><h2></h2></div>
            </li>
            <li>
                <p >Stimulus</p>
                <div id="stimulus"><h2></h2></div>
            </li>
        </ul>
    </div>

    <div id="widget_part_2" class="widget stat_horiz_2"  style="height: 20%; width: 30%; margin-left: 2%; float:left;">
        <ul >
            <li>
                <p >Mean</p>
                <div id="avg_val_1" style="text-align: center"><h2></h2></div>
            </li>
            <li>
                <p >Minimum</p>
                <div id="min_val_1" style="text-align: center"><h2></h2></div>
            </li>
            <li>
                <p >Maximum</p>
                <div id="max_val_1" style="text-align: center"><h2></h2></div>
            </li>

        </ul>
    </div>

    <div id="widget_part_3" class="widget stat_horiz_3"  style="height: 20%; width: 30%; margin-left: 2%; float:left;">
        <ul >
            <li>
                <p >Mean</p>
                <div id="avg_val_2" style="text-align: center"><h2></h2></div>
            </li>
            <li>
                <p >Minimum</p>
                <div id="min_val_2" style="text-align: center"><h2></h2></div>
            </li>
            <li>
                <p >Maximum</p>
                <div id="max_val_2" style="text-align: center"><h2></h2></div>
            </li>
        </ul>
    </div>


  </div>

</div>
</div>

    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
</body>



     <!--<ul class="sortable" id="sortable">

            <li  class="ui-state-default" id="listitem_1" style="width: 100%; height: 92%; float: left; text-align: right"> -->

 <!-- </li>


        </ul> -->