
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
  <head>
  	<base href="http://localhost:5000/" />
  	<title>Neuroclick!</title>
	<script type="text/javascript">var switchTo5x=true;</script>

	<link rel="stylesheet" type="text/css" href="http://recruiting.jobvite.com/themes/jobvite/css/banner.css?m=1380826094" />
</head>
  <body>
    <div id="header">
      <div id="header-content" class="clearfix">
        <a href="" id="logo"><img src="themes/jobvite/images/logo.png" alt="Jobvite" /></a>
        <ul id="login">
  	<li>
		<a class="moreToggle" id="open" href="https://hire.jobvite.com/Login/Login.aspx?role=em"><span>Login</span></a>		
		<ul class="more" style="display:none;">
			<li><a href="https://hire.jobvite.com/Login/Login.aspx?role=em"><span>Customer Login</span></a></li>
		</ul>
	</li>
</ul>
        <ul id="job_search">
	<li>
		<a class="moreToggle2" href="/#">Looking For A Job?</a>
	</li>
	<ul class="more2" style="display: none;">
		<li><a href="/company/careers/">Careers at Jobvite</a></li>
		<li>
			<a href="http://search.jobvite.com" target="_blank">Jobvite Search
				<span class="small">Browse thousands of jobs with Jobvite Customers</span>
			</a>
		</li>		
	</ul>
</ul>

<ul id="menu"> 
    
   	 
   		<li class="link"><a href="/products/" title="Recruiting Solutions and Products"><span>Products</span></a> 
         	<ul class="sub-menu">
 				<!-- <li class="link"><a href="/products/" title="Recruiting Solutions and Products"><span>Overview</span></a> </li> -->
         		 
         			<li><a href="/products/jobvite-hire/" title="Hiring Software &amp; Applicant Tracking System - Jobvite Hire" class="link">Jobvite Hire</a></li> 
         		 
         			<li><a href="/products/jobvite-engage/" title="Social Recruiting Automation &amp; Candidate Relationship Management Software - Jobvite Engage" class="link">Jobvite Engage</a></li> 
         		 
         			<li><a href="/products/jobvite-refer/" title="Social Media Recruiting &amp; Employee Referral System - Jobvite Refer" class="link">Jobvite Refer </a></li> 
         		 
         			<li><a href="/products/video-interviewing/" title="Screen Applicants with Video Interviews – Jobvite Video" class="link">Video Interviewing</a></li> 
         		 
         			<li><a href="/products/facebook-apps/" title="Facebook Recruiting Tools" class="link">Facebook Apps</a></li> 
         		 
         			<li><a href="/products/technology/" title="SaaS Recruiting Software and Applicant Tracking System Technology" class="link">Technology</a></li> 
         		 
         	</ul> 
   		</li> 
   	 
    
   	 
   		<li class="link"><a href="/customers/" title="Customers"><span>Customers</span></a> 
         	<ul class="sub-menu">
 				<!-- <li class="link"><a href="/customers/" title="Customers"><span>Overview</span></a> </li> -->
         		 
         			<li><a href="/customers/case-studies/" title="Case Studies" class="link">Case Studies</a></li> 
         		 
         			<li><a href="/customers/testimonials/" title="Testimonials" class="link">Testimonials</a></li> 
         		 
         			<li><a href="/customers/support-program/" title="Support Program" class="link">Support Program</a></li> 
         		 
         	</ul> 
   		</li> 
   	 
    
   	 
   		<li class="link"><a href="/resources/" title="Resources"><span>Resources</span></a> 
         	<ul class="sub-menu">
 				<!-- <li class="link"><a href="/resources/" title="Resources"><span>Overview</span></a> </li> -->
         		 
         			<li><a href="/resources/recruiting-and-hr-ebooks/" title="Recruiting and HR eBooks" class="link">eBooks</a></li> 
         		 
         			<li><a href="/resources/social-recruiting-reports-and-trends/" title="Social Recruiting Reports &amp; Trends" class="link">Reports</a></li> 
         		 
         			<li><a href="/resources/recruiting-and-hr-webcasts/" title="Recruiting and HR Webcasts" class="link">Webcasts</a></li> 
         		 
         			<li><a href="/resources/data-sheets-for-recruiting-applicant-tracking-social-recruiting/" title="Data Sheets for Recruiting, Applicant Tracking, Social Recruiting" class="link">Data Sheets</a></li> 
         		 
         			<li><a href="/resources/recruiting-data-employment-statistics-by-jobvite-index/" title="Recruiting Data, Employment Statistics by Jobvite Index" class="link">Jobvite Index</a></li> 
         		 
         			<li><a href="/resources/employee-referral-center/" title="Employee Referral Resource Center" class="link">Employee Referral Center</a></li> 
         		 
         			<li><a href="/resources/roi-tool/" title="ROI Tool" class="link">ROI Tool</a></li> 
         		 
         	</ul> 
   		</li> 
   	 
    
   	 
   		<li class="link"><a href="/company/" title="Company"><span>Company</span></a> 
         	<ul class="sub-menu">
 				<!-- <li class="link"><a href="/company/" title="Company"><span>Overview</span></a> </li> -->
         		 
         			<li><a href="/company/jobvite-in-the-news/" title="Jobvite in the News" class="link">In the News</a></li> 
         		 
         			<li><a href="/company/press-releases/" title="Press Releases" class="link">Press Releases</a></li> 
         		 
         			<li><a href="/company/events/" title="Events" class="link">Events</a></li> 
         		 
         			<li><a href="/company/careers/" title="Careers" class="link">Careers</a></li> 
         		 
         			<li><a href="/company/partnerships/" title="Partnerships" class="link">Partnerships</a></li> 
         		 
         			<li><a href="/company/blog/" title="Blog" class="link">Blog</a></li> 
         		 
         			<li><a href="/company/press-kit/" title="Press Kit" class="link">Press Kit</a></li> 
         		 
         	</ul> 
   		</li> 
   	 
    
   	 
   		<li class="link"><a href="/industries/" title="Industries"><span>Industries</span></a> 
         	<ul class="sub-menu">
 				<!-- <li class="link"><a href="/industries/" title="Industries"><span>Overview</span></a> </li> -->
         		 
         			<li><a href="/industries/advertising-marketing/" title="Advertising &amp; Marketing Industry" class="link">Advertising &amp; Marketing</a></li> 
         		 
         			<li><a href="/industries/health-sciences/" title="Health &amp; Sciences Industry" class="link">Health &amp; Sciences</a></li> 
         		 
         			<li><a href="/industries/high-tech/" title="High Tech Industry" class="link">High Tech</a></li> 
         		 
         	</ul> 
   		</li> 
   	 
    
   	 
   		<li class="link"><a href="/support/" title="Support"><span>Support</span></a> 
         	<ul class="sub-menu">
 				<!-- <li class="link"><a href="/support/" title="Support"><span>Overview</span></a> </li> -->
         		 
         			<li><a href="/support/submit-a-case/" title="Submit a Case" class="link">Submit a Case</a></li> 
         		 
         			<li><a href="/support/support-portal-login/" title="Support Portal Login" class="link">Support Portal Login</a></li> 
         		 
         			<li><a href="/support/job-seeker-faq/" title="Job Seeker FAQ" class="link">Job Seeker FAQ</a></li> 
         		 
         			<li><a href="/support/support-case-guidelines/" title="Support Case Writing Guidelines" class="link">Support Case Writing Guidelines</a></li> 
         		 
         			<li><a href="/support/jobvite-support-0113/" title="Jobvite Support 0113" class="link">Support Plans</a></li> 
         		 
         			<li><a href="/support/system-status/" title="System Status" class="link">System Status</a></li> 
         		 
         	</ul> 
   		</li> 
   	 
    
   	 
   		<li class="link"><a href="/contact/" title="Contact"><span>Contact</span></a></li> 
    
    
</ul>
      </div>
    </div>
    
    

<div id="homepage">
	<div id="home-content">
		<div id="sliders">
			<ul id="slider">
			
				<li class="slide-content" style="background: url('/assets/Uploads/homepage-images/blog-slider1.png') 268px 7px no-repeat;">
					<h1>Stay Informed</h1>
<p style="width: 245px;">Check out our blog to keep up on recruiting trends and learn the latest Jobvite news!</p>
<p style="margin-top: -30px;"><a class="button" href="http://blog.jobvite.com">Visit Our Blog</a></p>
				</li>
			
				<li class="slide-content" style="background: url('/assets/Uploads/homepage-images/jobseeker-nation.png') 340px 5px no-repeat;">
					<div>
<h1 style="margin-top: 20px; font-size: 36px; width: 440px;">71% of the US labor force is currently on the job market</h1>
<p style="width: 42%;">Learn how today's job seekers leverage social and mobile technologies in their search for the perfect job.</p>
<p style="margin-top: -35px; margin-bottom: -30px"><a class="button" title="Learn more about Jobvite Video" href="http://web.jobvite.com/JobSeekerSurvey14.html" target="_blank">Download the Survey Results Today</a></p>
<p> </p>
</div>
				</li>
			
				<li class="slide-content" style="background: url('/assets/Uploads/homepage-images/bill-kutik-radioshow.png') 425px 5px no-repeat;">
					<div>
<p style="margin-top: 20px; margin-bottom: 0">Now Playing:</p>
<h1 style="margin-top: 20px; font-size: 28px; width: 440px;">Let's Talk About the 2014 Jobvite Job Seeker Nation Study</h1>
<p style="width: 42%;">Listen in as Jobvite CEO Dan Finnigan talks with Bill Kutik about our latest Job Seeker Study</p>
<p style="margin-top: -35px; margin-bottom: -30px"><a class="button" style="min-width: 75px" title="Tune in to the Bill Kutik Radio Show" href="http://billkutik.appirio.com/" target="_blank">Listen Now</a></p>
<p> </p>
</div>
				</li>
			
				<li class="slide-content" style="background: url('/assets/Uploads/homepage-images/jobvite-video-screening2.png') 340px 5px no-repeat;">
					<div>
<h1 style="margin-top: 50px; font-size: 36px; width: 410px;">Introducing Jobvite Video.</h1>
<p style="width: 40%;">The easy and efficient video screening tool that saves you time, effort, and money.</p>
<p style="margin-top: -35px; margin-bottom: -30px"><a class="button" title="Learn more about Jobvite Video" href="/products/video-interviewing/">Learn More</a></p>
<p> </p>
</div>
				</li>
			
				<li class="slide-content" style="background: url('/assets/Uploads/homepage-images/jobvite-engage-2013-awards.png') 270px 0px no-repeat;">
					<div>
<h1 style="margin-top: 25px; font-size: 24px; width: 410px;">Jobvite Engage: Product of the Year  &amp; Awesome New Technology.</h1>
<p>Successful companies of all sizes are using <br/>Jobvite Engage to gain the upper hand.</p>
<p style="margin-top: -20px; margin-bottom: -30px"><a class="button" title="Find out how successful companies of all sizes are using Jobvite Engage to gain the upper hand." href="http://web.jobvite.com/product-tour-request0726.html" target="_blank">Find Out Why</a></p>
<p> </p>
</div>
				</li>
			
				<li class="slide-content" style="background: url('/assets/Uploads/homepage-images/aberdeen-group.png') 300px 30px no-repeat;">
					<div>
<p><span style="font-size: 15px">New Aberdeen Report:<span> </span> </span></p>
<h1 style="margin-top: -15px; font-size: 28px; width: 380px;">Do you know where your best employees come from?</h1>
<p>How about your worst?</p>
<p style="margin-top: -20px; margin-bottom: -30px"><a class="button" title="Download the Aberdeen Report" href="http://web.jobvite.com/Q313_Website_AberdeenReportDownload_AberdeenResearchPaper.html" target="_blank">Download the report to find out now!</a></p>
<p> </p>
</div>
				</li>
			
				<li class="slide-content" style="background: url('/assets/Uploads/homepage-images/video-visual-concept.png') 260px -7px no-repeat;">
					<div>
<h1 style="width: 420px;">Jobvite in under 2 minutes</h1>
<p>Check out our latest video for a quick view of Jobvite <br/>and how we can help you  achieve success.</p>
<p style="margin-top: -20px"><a class="button" href="http://bit.ly/JobviteIn2Mins">Watch Now</a></p>
</div>
				</li>
			
				<li class="slide-content" style="background: url('/assets/') px px no-repeat;">
					<div id="free-trial" class="clearfix" style="width: 500px;">
<h1>Recruiting for the Social Web.<br/>Easy. Collaborative. Social.</h1>
<p>Target the right talent and build the right teams. <a class="button" href="/products/?slider">Get started today.</a></p>
<p id="layer-1"><img class="customer-photo" src="assets/Uploads/customer-2_2.png" alt="Informatica - A Jobvite Source Customer" title="Informatica - A Jobvite Source Customer" width="500" height="440"/></p>
<p id="layer-2"><img class="customer-photo" src="assets/Uploads/customer-3_5.png" alt="Coverity - A Jobvite Hire Customer" title="Coverity - A Jobvite Hire Customer" width="500" height="440"/></p>
</div>
				</li>
			
			</ul>
		</div>
<!--	<div class="arrows">
			<span class="previous">Previous</span> <span class="next">Next</span>
		</div> -->
	</div>
	<script>

	// this is the random script
	
	intLimit = 2;
	intNumber = Math.floor((Math.random()*intLimit) + 1);
	for (i = 1; i <= intLimit; i++) {
		strLayerName = "layer-" + i;
		if (i == intNumber) {
			document.getElementById(strLayerName).style.display = "block";
		} else {
			document.getElementById(strLayerName).style.display = "none";
		}
	}
	
	</script>
				
	<div class="container">
		<div id="product-columns" class="clearfix">
			<a href="/products/jobvite-refer">
				<div class="callout-column">
					<div class="pLogo jvRefer">Jobvite Refer</div>
					<img src="themes/jobvite/images/homepage/callout-refer.png"  alt="Jobvite Refer" width="260" height="120" />
					<p>Tap into the recruiting power of the social web with <strong>Jobvite Refer</strong>.
					<span>Learn More</span>
					</p>
				</div>
			</a>
			<a href="/products/jobvite-engage">
				<div class="callout-column middle">
					<div class="pLogo jvEngage">Jobvite Engage</div>
					<img src="themes/jobvite/images/homepage/callout-engage.png"  alt="Jobvite Engage" width="260" height="120" />
					<p>Build a talent pool—and be a sourcing leader with <strong>Jobvite Engage</strong>.
					<span>Learn More</span>
					</p>
				</div>
			</a>
			<a href="/products/jobvite-hire">
				<div class="callout-column last">
					<div class="pLogo jvHire">Jobvite Hire</div>
					<img src="themes/jobvite/images/homepage/callout-hire.png"  alt="Jobvite Hire" width="260" height="120" />
					<p>Automate applicant tracking and hiring, from start to finish with <strong>Jobvite Hire</strong>. 
					<span>Learn More</span>
					</p>
				</div>
			</a>
		</div>
		<div id="callout-columns" class="clearfix">
			<div class="callout-column">
				<h3>Free Trial</h3>
<p><span style="font-size: 15px;">Get Started Today with Jobvite Hire. All the Benefits at No Risk!</span></p>
<p><span style="font-size: 15px;"><a title="Request your Free Trial." href="http://web.jobvite.com/Hire_Free_Trial.html?utm_source=M-W-Free-Trial&amp;utm_medium=hp&amp;utm_campaign=FT" target="_blank">Request your Free Trial.</a></span></p>
			</div>
			<div class="callout-column middle">
				<h3>Take a tour</h3>
<p><span style="font-size: 15px;">Watch our product tours to see how Jobvite is powering the world of recruiting.</span></p>
<p><span style="font-size: 15px;"><a title="Take the Jobvite Hire product tour" href="http://web.jobvite.com/product-tour-request0726.html" target="_blank">Take the Jobvite product tours.</a></span></p>
			</div>
			<div class="callout-column last">
				<h3>Schedule a demo</h3>
<p><span style="font-size: 15px;">When your Jobvite research requires a guide, we're here to help you navigate. </span></p>
<p><a title="Schedule your demo now." href="http://web.jobvite.com/demo-request-homepage-A.html">Schedule your demo now.</a></p>
			</div>
		</div>
	</div>
</div>	
<script>
	// DOM Ready
	$(function(){
		$('#slider').anythingSlider();
	});
	
</script>


    
    <div class="footer-container">
  <div id="footer">
    <div id="footer-copy">
	<ul>
	<li class="about-blurb">
		<h3>Best-of-Breed Recruiting Platform</h3>
			<ul>
				<li>
					<p>Jobvite is the leading recruiting platform for the social web. Today's fastest-growing companies use <a href="http://recruiting.jobvite.com/products/jobvite-hire/applicant-tracking/" target="_self" title="Jobvite - Automate Your Applicant Tracking and Hiring">applicant tracking</a>, <a href="http://recruiting.jobvite.com/products/jobvite-engage/" target="_self" title="Jobvite Engage - Recruiter CRM Software">recruiting CRM</a> and <a href="http://recruiting.jobvite.com/products/jobvite-refer/" target="_self" title="Jobvite Refer - Social Recruiting Software">social recruiting</a> software solutions from Jobvite to target the right talent and build the best teams.</p>
				</li>
			</ul>
	</li>
			<li><h3>About Us</h3>
			<ul>
				<li><a href="/company/">Company Overview</a></li>
				<li><a href="/company/careers/">Careers</a></li>
				<li><a href="/company/press-releases/">Press Releases</a></li>
				<li><a href="/resources/">Surveys</a></li>
			</ul>
		</li>
		<li><h3>Harness the Power</h3>
			<ul>
				
				<li><a href="/products/jobvite-hire/">Jobvite Hire</a></li>
				<li><a href="/products/jobvite-engage/">Jobvite Engage</a></li>
				<li><a href="/products/jobvite-refer/">Jobvite Refer</a></li>
				<li><a href="/products/facebook-apps/">Facebook Apps</a></li>
			</ul>
		</li>
		<li class="social-icons"><h3>Follow Jobvite</h3>
			<ul>
				<li>
					<!-- AddThis Follow BEGIN -->
					<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
					<a class="addthis_button_facebook_follow" addthis:userid="jobvite"></a>
					<a class="addthis_button_twitter_follow" addthis:userid="jobvite"></a>
					<a class="addthis_button_linkedin_follow" addthis:userid="jobvite" addthis:usertype="company"></a>
					<a class="addthis_button_google_follow" addthis:userid="115201614237267791536"></a>
					<a class="addthis_button_pinterest_follow" addthis:userid="jobvite"></a>
					<a class="addthis_button_instagram_follow" addthis:userid="jobvite"></a>
					<a class="addthis_button_tumblr_follow" addthis:userid="jobvitestatus"></a>
					<a class="addthis_button_rss_follow" addthis:userid="http://blog.jobvite.com/feed/rss/"></a>
					</div>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529d862438046b91"></script>
					<!-- AddThis Follow END -->
				</li>
			</ul>
		</li>
			<li class="ff-signup">
				<h3>Receive Email Updates</h3>
				<ul>
					<li>
						<p>By subscribing to our mailing list you will always stay up to date with the latest from Jobvite. We will never resell or repurpose your address. Promise.</p>
					</li>
					<li>
						<form>
							<input type="text" class="text" placeholder="Email Address">
							<a class="submitButton">Submit</a>
						</form>
					</li>
				</ul>
			</li>
	</ul>
    </div>
	<ul class="copyright">
		<li><a href="/" title="Neuroclick"><img src="static/img/logo.png" alt="Neuroclick"></li>
		<li class="last"><a href="/contact/">Contact Us</a></li>
	</ul>
     <p>Copyright &copy;2014 Neuroclick</p>
  </div>
</div>

  
  </body>
</html>