<!DOCTYPE HTML>
<html lang="en" class="no-js">
    <head>
        <title>Neuroclick</title>
        <meta name="description" content="Neuroclick - collect and analyze brainwaves">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
{#        <link rel="shortcut icon" href="static/img/logo.png" type="image" />#}


        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/jquery-1.10.2.js"><\/script>')</script>
        <script src="static/js/modernizr-latest.js"></script>
        <script type="text/javascript" src="//use.typekit.net/nyy0zyv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script>
            $(function() {
                if(!Modernizr.svg) {
                    $('img[src*="svg"]').attr('src', function() {
                        return $(this).attr('src').replace('.svg', '.png');
                    });
                }
            });

        </script>
        <script type="text/javascript" src="http://cdn.sublimevideo.net/js/pw9vgcdm.js"></script>

    </head>
    <body>

        <div id="wrapper">

            <header>
                <article>
                    <a href="/">
                        <img src="static/img/logo.png" alt="Neuroclick Logo">
                    </a>
                    <div id="menu-button"></div>
                    <nav id="menu">
                        <a href="about">About</a>
                        <a href="results">Results</a>
                        <a href="contact">Contact</a>
                        <a class="orange-button" id="login-button" href="/">Log In</a>
                    </nav>

                    <div class="login-black"></div>
                    <div class="login-panel">
                        <form name="login-form" method="post" action="">
                            <input class="contact-reg" name="login" type="text" placeholder="Email">
                            <input class="contact-reg" type="password" name="password" placeholder="Password">
                            <input class="round-links" type="submit" value="Log In">
                        </form>

                    </div>

                </article>

            </header>


        <style>
            #video-preview a img {display:inline;}
            #video-preview #preview-default-jpg {background-image: url(./img/vid-default.jpg); width: 297px; height: 173px; margin:auto;}
            #video-preview #preview-default-jpg:hover {background-image: url(./img/vid-hover.jpg);}
            #video-preview #preview-hover{display:none;}
        </style>

            <section class="hero">

                <article style="opacity: 1; margin-top: -1px;">
                    <h1 class="h1-big">
                        Raw Data, Real Insights!
                    </h1>
                    <div class="hero-buttons">
                        <a class="round-links scrolling" id="video">
                            Watch Video
                        </a>
                        <a class="round-links" id="schedule-demo" href="results">
                            Learn More
                        </a>
                    </div>
                </article>
                <div class="hero-img">
                    <img src="static/img/home.jpg" alt="">
                    <div class="shade"></div>
                </div>

            </section>


            <section class="one-col how-it-works white">
                <article>
                    <div class="section-head">
                        <h1>How does it work?</h1>
                        <h2>
                        </h2>
                            Design Experiments, Use the configurable platform to set up experiments, Collect brainwave data, analyze the data, and get interesting insights.
                    </div>
                    <div class="work-flow">
                        <div>
                            <img src="img/work-01.svg" alt="Design">
                            <p>Step 1: Design and Configure Experiments</p>
                        </div>
                        <div>
                            <img src="img/work-02.svg" alt="Collect data">
                            <p>Step 2: CollectBrain wave data</p>
                        </div>
                        <div>
                            <img src="img/work-03.svg" alt="Crunch the data">
                            <p>Step 3: Crunch numbers</p>
                        </div>
                        <div>
                            <img src="img/work-04.svg" alt="Get insights">
                            <p>Step 4: Get some real and interesting insights</p>
                        </div>
                    </div>
                </article>
            </section>


<!-- <div class="clearfix"></div> -->

        <footer class="three-col">
            <article>
                <div class="footer-content">
                    <div class="footer-group">
                        <h3>Neuroclick</h3>
                        <a href="about">About</a>
                        <a href="results">Results</a>

                        <a href="contact">Contact</a>
                    </div>
                    <div class="footer-group">
                        <h3>Connect</h3>
                        <a class="social fb-icon" href="http://www.facebook.com/neuroclick">Facebook</a>
                        <a class="social twitter-icon" href="http://twitter.com/neuroclick">Twitter</a>
                        <a class="social linkedin-icon" href="https://angel.co/neuroclick-1">Neuroclick</a>
                    </div>
                    <div class="footer-group">
                        <h3>Site</h3>
                        <a href="privacy">Privacy Policy</a>
                        <a href="tos">Terms of Service</a>
                    </div>
                    <!--<div class="footer-group">
                        <h3>Help</h3>
                        <a href="sales-academy">Sales Academy</a>
                        <a href="creative-academy">Creative Academy</a>
                    </div> -->
                </div>
            </article>
        </footer>
        <!-- Scripts -->
        <script src="static/js/scripts.js"></script>
        </div> <!-- Close wrapper -->

        <script language="JavaScript" type="text/javascript" src="http://jdmqg2jq.appmetrx.com/t/jdmqg2jq.js"></script>
        <img src="http://ib.adnxs.com/seg?add=234541&t=2" width="1" height="1" />
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2526400-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
