<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard | NeuroClick! </title>
    <meta name="description" content="">
    <meta name="author" content="neuroclick">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script src="static/js/dash.js"></script>
    <script src = "static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.4.custom.min.css">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/dash.css">

    <link rel="stylesheet" href="/static/css/navbar.css">



</head>
<body>

<div id="container">
    <div id="heading">
        <ul class="nav pull-left" id="logo">
            <li><a href="/" class="brand" >NeuroClick</a></li>
        </ul>
        <ul class="nav pull-right" id="tabs">
            <li><a href="neuroclick_analytics"> Analytics Home</a></li>
            <li><a href="surveytobesent">What is NeuroClick?</a></li>
            <li><a href="surveyusers">All Survey Users Details</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="subheadings">
          <ul class="nav nav-tabs">
                <li class="active"><a href="neuroclick_analytics">Overview</a></li>
                <li ><a href="survey_results">Survey Results Analytics</a></li>
                <li ><a href="stimuli">Stimuli</a></li>
            </ul>
        </div>
        <div id="chart-container" style="height: 78%; width:100%; margin-top: 2%; ">
            <div id="attn-med">
                <h2> Attention Meditation chart</h2>
              <div id="container1" style="width: 100%; height: 92%; float:left;margin-bottom: 5%">
                </div>
              
            </div>

            <div id="attn-med1">
                <h2> Alpha chart</h2>
              <div id="container2" style="width: 100%; height: 92%; float:left;margin-bottom: 5%">
                </div>
              
            </div>
 

              <div id="container21" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
              <div id="container3" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
              <div id="container4" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
              <div id="container5" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>
              <div id="container6" style="width: 100%; height: 92%; float:left;margin-bottom: 5%"> </div>

                
        </div> 
        <div id="footer">
         <hr>
        <p>&copy; Prabha Matta, Vaidy</p>
    </div>

    </div>


</div>

    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
</body>


</html>